* {
	-webkit-box-sixing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	color: #2d3c49;
}

.avatar-name {
	text-align: center;
	width: 100%;
}

.title {
	text-align: center;
	width: 100%;
}

.players {
	width: 100%;
}

.nav-bar {
	display: block;
	position: relative;
	margin-left: auto;
    margin-right: auto;
	margin: auto;
	width: 100%;
}

.nav-bar li {
	display: block;
	display: inline;
	list-style-type: none;	
	padding: 10px 15px;
}