* {
	-webkit-box-sixing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Impact", Impact;
	color: black;
	
}

html{
	background-color: yellow;
}

.main-container {
	background: linear-gradient(orange, yellow);
}

.avatar-name {
	text-align: center;
	width: 100%;
}

.title {
	text-align: center;
	color: white;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	width: 100%;
}

.players {
	width: 100%;
}

.nav-container {
    margin: 0 auto;
    width: 100%;
	background-color: orange;
	padding-bottom: 15px;
    text-align: center;	
}

.nav-bar {
	display: block;
	position: relative;
    margin: 0;
    padding: 0;
}

.nav-bar li {
	font-weight: bold;
	font-size: 19pt;
	color: white;
	background-color: orange;
	display: block;
	display: inline;
	list-style-type: none;	
	padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar li:hover {
	font-weight: bold;
	font-size: 19pt;
	color: white;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	background-color: yellow;
	display: block;
	display: inline;
	list-style-type: none;	
	padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
}
